
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "./components/menu.css";

@import "./components/button.css";

@import "./components/table.css";

@import "./components/structure.css";

@import "tailwindcss/utilities";


:root{
    --background-color:#2A292E;
}
body{
    background:var(--background-color);
    font-family: 'NowAltRegular';
   font-weight: normal;
   font-style: normal;
}

#root{
    height:100%;
}
