
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "./components/menu.css";

@import "./components/button.css";

@import "./components/table";

@import "tailwindcss/utilities";


:root{
    --background-color:#2A292E;
}
body{
    background:var(--background-color);
    font-family: 'NowAltRegular';
   font-weight: normal;
   font-style: normal;
}

#root{
    height:100%;
}

.structure{
    @apply shadow-struct flex mx-auto flex-col;
}

.structure--title{
    @apply mt-16 text-center text-xl pb-4 text-gray-600 uppercase ;
}


@media screen and (min-width:768px){
    .structure{
        @apply w-9/12;
    }
    .structure--title{
        @apply text-2xl;
    }
}


@media screen and (min-width:1280px){
    .structure{
        @apply w-7/12;
    }
}
